<product-form class="product-form">
  {%- assign product_form_id = 'product-form-' | append: product.id -%}
  {% form 'product', product, data-productid: product.id, id: product_form_id, class: "mt-4", data-product-form: "", data-product-id: product.id, data-type: 'add-to-cart-form', data-format: 'grid' %}

    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <div class="row">
      <div class="col-12 d-flex justify-content-between flex-column selling-plans">
      {% for group in product.selling_plan_groups %}
      <label>Select Delivery Frequency</label>
     <select id="selling-plans" class="form-select variant_selector rounded-0 p-0 border-top-0 border-end-0 border-start-0 font-size-md fw-medium" name="selling_plan" form="product-form-{{ product.id }}">
    {% for selling_plan in group.selling_plans %}
    <option name="selling_plan" value="{{ selling_plan.id }}" id="selling_plan_{{ selling_plan.id }}">{{ selling_plan.name }}</option>
    {% endfor %}
  </fieldset>
  {% endfor %}
        <input type="hidden" name="quantity" value="1" />
      </div>
    </div>
    {% comment %} DEFAULT HIDDEN OPTIONS SELECT {% endcomment %}
    {% comment %} DO NOT REMOVE THIS {% endcomment %}
    <noscript>
      <div class="row {% if product.has_only_default_variant %}d-none{% endif %}">
        <div class="col">
            <select name="id" data-productid="{{ product.id }}">
              {% for variant in product.variants %}
                  <option
                    data-sku="{{ variant.sku }}" data-product-id="{{ product.id }}" data-variant-id="{{ variant.id }}"
                    value="{{ variant.id }}" {% if variant.available == false %}disabled{% endif %}>
                    {{ variant.title }}{%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %} - {{ variant.price | money_with_currency }}
                  </option>
              {% endfor %}
            </select>
        </div>
      </div>
    </noscript>
    <div class="row">
      <div class="col-12 d-flex">
          <button class="btn btn-outline-dark btn-sm flex-grow-1 px-2"
              type="submit"
              name="add"
              aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
              {% unless current_variant.available %}disabled{% endunless %}>
              <span class="add-text">{%- if current_variant.available -%}{{ 'products.product.add_to_cart' | t }}{%- else-%}{{ 'products.product.sold_out' | t }}{%- endif -%}</span>
              <span class="spinner"></span>
          </button>

          {%- if settings.enable_quickshop -%}
              <a href="#" rel="nofollow" class="btn btn-dark btn-sm ms-2 quickshop--button" data-handle="{{ product.handle }}" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
                  <span class="icon-quickview font-size-lg"></span>
              </a>
          {%- endif -%}
      </div>
      <div class="col-12  text-center">
      <a href="{{product.url }}" class="btn-link text-decoration-none view-btn">
      {{ 'view details' }}
      </a>
      </div>
    </div>
    <script class="variantsJSON-{{ product.id }}" data-variantJSON type="application/json">
      {{ product.variants | json }}
    </script>
  {% endform %}
</product-form>