{% comment %} Choose a plan started {% endcomment %}
<select-add-ons>
    <div class="d-none" data-selector="3"  data-step-name="select-add-ons">
      {% if block.settings.heading != '' %}
      <h2 class="text-center text-uppercase mb-6 mb-lg-8">
         {{ block.settings.heading }}
      </h2>
      {% endif %}
       {% assign collection = block.settings.add_on_collection %}
      <div class="row" data-next_selector="4">
        {% for product in collection.products %}
          <div class="col-12 mb-3 mb-lg-0 col-lg-4" data-productAddOnSelection data-productId="{{ product.id }}">
            <div  class ="card product-selection"  data-selection-box  data-selectedProduct="{{ product.id }}">
              <div class="image_wrapper card-img">
                 <a href="" class="">
                  {% assign image = product.featured_image %}
                  <img srcset="
                    {%- if image.src.width >= 350 -%}{{ image.src | image_url: width: 350 }} 350w,{%- endif -%}
                    {%- if image.src.width >= 550 -%}{{ image.src | image_url: width: 550 }} 550w,{%- endif -%}
                    {%- if image.src.width >= 750 -%}{{ image.src | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if image.src.width >= 991 -%}{{ image.src | image_url: width: 991 }} 991w,{%- endif -%}
                    {%- if image.src.width >= 1200 -%}{{ image.src | image_url: width: 1200 }} 1200w,{%- endif -%} 
                    {%- if image.src.width >= 1500 -%}{{ image.src | image_url: width: 1500 }} 1500w,{%- endif -%} 
                    {{ image.src | image_url }} {{ image.src.width }}w"
                    src="{{ image.src | image_url: width: 1500 }}" loading="lazy"
                    data-variant-title="{{ image.alt | escape }}"
                    sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width }}, 100vw"
                    alt="{{ image.alt | escape }}"
                    width="{{ image.src.width }}"
                    height="{{ image.src.width | divided_by: image.src.aspect_ratio | round }}">
                 </a>
              </div>
              <div class="border p-2 card-body">
                  <div class=text-center>
                    <h6>
                    {{ product.title }} 
                    </h6>
                    <p class="mb-0">
                      {{ product.price | money }}  
                    </p>
                  </div>
                  <script type="application/json" data-productJson="{{ product.id }}">
                    {{ product | json }}
                </script>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-center">
      <div class="text-center me-2">
         <a href="#" class="btn btn-primary mt-4 mt-lg-5" data-back data-prev_selector="2">Back</a>
      </div>
        <div class="text-center me-2">
         <a href="#" class="btn btn-primary mt-4 mt-lg-5" data-continue data-next_selector="4">Continue</a>
      </div>
      </div>
    </div>
</select-add-ons>
{% comment %} Choose a plan end {% endcomment %}