<link href="{{'global-footer.css' | asset_url }}" rel="stylesheet">
{% assign logo_svg = section.settings.footer_logo_svg %}
{% assign footer_linklist_2 = section.settings.footer_linklist_col_2 %}
{% assign footer_linklist_3 = section.settings.footer_linklist_col_3 %}
<footer class="site-footer" data-section-id="{{ section.id }}">
      {%- comment -%} Newsletter Section {%- endcomment -%}
      <div class="footer-newsletter" style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};">
          <div class="py-5 py-md-7 border-bottom" style="border-color: {{ section.settings.footer_border_color }} !important;"> 
            <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container px-md-6{% endif %}">
                  <div class="row align-items-center">
                      <div class="newsletter-text col-12 col-md-6 col-lg-7 text-md-start text-left">
                          {% if section.settings.newsletter_heading != blank %}
                              <h3>{{ section.settings.newsletter_heading }}</h3>
                          {% endif %}
                          {% if section.settings.newsletter_txt != blank %}
                              <p class="mb-4 mb-md-0">{{ section.settings.newsletter_txt }}</p>
                          {% endif %}
                      </div>
                      {% if section.settings.show_newsletter %}
                          {% form 'customer', id: 'NewsletterFooter', class: 'col-12 col-md-6 col-lg-5' %}
                              <div class="input-group overflow-hidden w-100"> 
                                  <input type="email" name="contact[email]" aria-label="email" id="newsletterFooterCustomerEmail" class="form-control  border-1 text-white" placeholder="{{ 'general.social.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
                                  <input type="hidden" name="contact[tags]" value="newsletter">
                                  <button type="submit" name="btnSubmit" aria-label="submit" class="newsletter-submit btn btn-white">sign up</button>
                              </div>
                              {% if form.errors %}
                                  <p class="text-danger mt-2 mb-0">{{ form.errors | default_errors }}</p>
                              {% endif %}
                          {% endform %}
                      {% endif %}
                  </div>
              </div>   
          </div>
      </div>
      
      {%- comment -%} Top Footer {%- endcomment -%}
      <div data-footer-top class="footer-top pb-3" style="background-color: {{ section.settings.footer_top_bg_color }}; color: {{ section.settings.footer_top_txt_color }};">
          <div class="{% if section.settings.fluid_footer %}container-fluid{% else %}container px-md-6{% endif %}">
              <div class="row">
                  <div class="col-lg-4 mt-lg-0 mt-5 mb-md-0 mb-3">      
                      <a href="{{ routes.root_url }}" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
                          {%- if logo_svg != blank -%}
                              <img src="{{ logo_svg }}" alt="{{ shop.name | escape }}" class="img-fluid mb-md-4 mb-0 d-inline-block" loading="lazy" width="200" height="80" style="max-width: {{ section.settings.logo_max_width }}px"
                              width="{{ section.settings.logo_max_width }}"
                              height="40">
                          {%- elsif section.settings.footer_logo != blank -%}
                              <img srcset="{{ section.settings.footer_logo | image_url: width: 500 }}"
                                  src="{{ section.settings.footer_logo | image_url: 'pico' }}"
                                  loading="lazy" class="img-fluid mb-md-4 mb-0 lazyload"
                                  width="{{ section.settings.footer_logo.width }}"
                                  height="{{ section.settings.footer_logo.height }}"
                                  alt="{{ section.settings.footer_logo.alt | default: shop.name | escape }}"
                                  style="max-width: {{ section.settings.logo_max_width }}px" >
                          {%- else -%}
                              <span class="h5 text-primary">{{ shop.name }}</span>
                          {%- endif -%}
                      </a>
                    {% if section.settings.show_social_links %}
                          <div class="col-12 d-flex justify-content-start mb-md-8 mb-0">
                              {% render 'social-media-links' %}
                          </div>
                      {% endif %}
                       <span class="small font-size-xs fw-normal font-family-haeding text-gray-600 footer-subheading">{{ 'sections.footer.copyright' | t }} - {{ 'sections.footer.all_rights_reserved' | t }}</span>
                  </div>
                  <div class="col-lg-8">
                      <div class="row">
                          {%- comment -%} col-2 {%- endcomment -%}
                          <div class="col-lg-4 col-6">
                              <div class="footer_dropdown">
                                  {% if section.settings.col_2_heading != blank %}
                                      <div class="d-flex justify-content-between align-items-center">
                                          <h6 class="text-uppercase mb-0 text-gray-600 font-size-xs">{{ section.settings.col_2_heading }}</h6>
                                       </div>
                                  {% endif %}
                                  {% if linklists[footer_linklist_2].links.size > 0 %}
                                      <div class="text-start" data-type="content">
                                          <ul class="list-unstyled footer-navigation py-lg-0 py-2">
                                              {% for link in linklists[footer_linklist_2].links %}
                                                  <li class="{% unless forloop.index == 1 %}footer-nav{% endunless %}">
                                                      <a href="{{ link.url }}" style="color: {{ section.settings.footer_top_link_color }};" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}" class="font-size-md font-weight-medium font-family-heading">{{ link.title }}</a>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                      </div>
                                  {% endif %}
                              </div>
                          </div>
                          {%- comment -%} col-3 {%- endcomment -%}
                          <div class="col-lg-4 col-6">
                              <div class="footer_dropdown">
                                  {% if section.settings.col_3_heading != blank %}
                                      <div class="d-flex justify-content-between align-items-center">
                                          <h6 class="text-uppercase mb-0 text-gray-600 font-size-xs">{{ section.settings.col_3_heading }}</h6>
                                      </div>
                                  {% endif %}
                                  {% if linklists[footer_linklist_3].links.size > 0 %}
                                      <div class="text-start" data-type="content">
                                          <ul class="list-unstyled footer-navigation py-lg-0 py-3">
                                              {% for link in linklists[footer_linklist_3].links %}
                                                  <li class="{% unless forloop.index == 1 %}footer-nav{% endunless %}">
                                                      <a href="{{ link.url }}" style="color: {{ section.settings.footer_top_link_color }};" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}" class="font-size-md font-weight-medium font-family-heading">{{ link.title }}</a>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                      </div>
                                  {% endif %}
                              </div>
                          </div>
                          {%- comment -%} col-4 {%- endcomment -%}
                          <div class="col-lg-4">
                              <div class="footer_dropdown">
                                  {% if section.settings.col_4_heading != blank %}
                                      <div class="d-flex justify-content-between align-items-center">
                                          <h6 class="text-uppercase mb-lg-0 mb-2 text-gray-600 font-size-xs">{{ section.settings.col_4_heading }}</h6>
                                       </div>
                                  {% endif %}
                    <div class="text-start" data-type="content">
                        <ul class="list-unstyled footer-navigation font-size-md ls-0 mt-2 mb-0"  style="color: {{ section.settings.footer_top_txt_color }};">
                          <li class="pb-3 d-flex align-items-center">
                             {% render 'icon-phone' %}
                              {% if section.settings.phone_number != '' %}
                                  <p class="mb-0">{{ section.settings.phone_number }}</p>
                              {% endif %}
                          </li>
                          <li class="pb-3 d-flex align-items-center">
                              {% render 'icon-universal-phone' %}
                              {% if section.settings.store_phone !='' %}
                                  <a href="tel:{{ section.settings.store_phone }}" class="text-decoration-none" title="{{ section.settings.store_phone }}" aria-label="{{ section.settings.store_phone }}" name="{{ section.settings.store_phone }}" style="color: {{ section.settings.footer_top_txt_color }};">{{ section.settings.store_phone }}</a>
                              {% endif %}
                          </li>
                          <li class="pb-3 d-flex align-items-center">
                              {% render 'icon-mail' %}
                              {% if section.settings.customer_email !='' %}
                                  <a href="mailto:{{ section.settings.customer_email }}" class="text-decoration-none" title="{{ section.settings.customer_email }}" aria-label="{{ section.settings.customer_email }}" name="{{ section.settings.customer_email }}"  style="color: {{ section.settings.footer_top_txt_color }};">{{ section.settings.customer_email }}</a>
                              {% endif %}
                          </li>
                          <li class="pb-0 d-flex align-items-center">
                              {% render 'icon-universal-mail' %}
                              {% if section.settings.store_email !='' %}
                                  <a href="mailto:{{ section.settings.store_email }}" class="text-decoration-none" title="{{ section.settings.store_email }}" aria-label="{{ section.settings.store_email }}" name="{{ section.settings.store_email }}"  style="color: {{ section.settings.footer_top_txt_color }};">{{ section.settings.store_email }}</a>
                              {% endif %}
                          </li>
                      </ul>
                      </div>
                              </div>
                          </div>
                      </div>
                  </div>    
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </div>
      {%- comment -%} Bottom Footer {%- endcomment -%}
      {% if section.settings.bottom_text != blank %}
      <div data-footer-bottom class="footer-bottom pt-3 pb-5" style="background-color: {{ section.settings.footer_bottom_bg_color }}; color: {{ section.settings.footer_bottom_txt_color }}; ">
          <div class="container px-md-6">
              <div class="row d-flex align-items-center">
                  <div class="col-12 b-3 text-start text-lg-start text-gray-600">
                    {{ section.settings.bottom_text }}
                  </div>
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </div>
      {% endif %}
  </footer>
  <script>
    const footerAccordions = document.querySelectorAll('.toggle-footer-menu');
    footerAccordions.forEach((menuIcon)=>{
    menuIcon.addEventListener('click', (e)=>{
        const parentElement = e.target.closest('.footer_dropdown');
        if(parentElement.classList.contains('open')){
        Utility.toggleElement(parentElement, 'close');
        }else{
        Utility.toggleElement(parentElement, 'open');
        }
    });
    });
</script>
  {% schema %}
      {
          "name": "Footer",
          "settings": [
              {
                  "type": "header",
                  "content": "Layout"
              },
              {
                  "type": "checkbox",
                  "id": "fluid_footer",
                  "label": "Full Width Footer?",
                  "default": false
              },
              {
                  "type": "header",
                  "content": "Styling"
              },
              {
                  "type": "color",
                  "id": "footer_top_bg_color",
                  "label": "Footer Top Background Color",
                  "default": "#1C1E23"
              },
              {
                  "type": "color",
                  "id": "footer_border_color",
                  "label": "Footer Top border Color",
                  "default": "#33363E"
              },
              {
                  "type": "color",
                  "id": "footer_top_txt_color",
                  "label": "Footer Top Text Color",
                  "default": "#ffffff"
              },
              {
                  "type": "color",
                  "id": "footer_top_link_color",
                  "label": "Footer Top Links Color",
                  "default": "#ffffff"
              },
              {
                  "type": "color",
                  "id": "footer_bottom_bg_color",
                  "label": "Footer Bottom Background Color",
                  "default": "#1C1E23"
              },
              {
                  "type": "color",
                  "id": "footer_bottom_txt_color",
                  "label": "Footer Bottom Text Color",
                  "default": "#ffffff"
              },
              {
                  "type": "header",
                  "content": "Newsletter Section"
              },
              {
                  "type": "text",
                  "id": "newsletter_heading",
                  "label": "Heading",
                  "default": "STAY IN TOUCH"
              },
              {
                  "type": "text",
                  "id": "newsletter_txt",
                  "label": "Text",
                  "default": "Get monthly updates and free resources."
              },
              {
                  "type": "checkbox",
                  "id": "show_newsletter",
                  "label": "Show Newsletter Form?",
                  "default": true
              },
              {
                  "type": "paragraph",
                  "content": "Newsletter Success Message"
              },
              {
                  "type": "html",
                  "id": "success_message",
                  "label": "Success Message",
                  "default": "<p>Thank you for signing up! Your special offer is on its way!</p>"
              },
              {
                  "type": "header",
                  "content": "Column 1"
              },
              {
                  "type":"text",
                  "id":"footer_logo_svg",
                  "label":"Footer svg logo"
              },
              {
                  "type": "image_picker",
                  "id": "footer_logo",
                  "label": "Logo image"
              },
              {
                  "type": "range",
                  "id": "logo_max_width",
                  "min": 5,
                  "max": 500,
                  "step": 5,
                  "unit": "px",
                  "label": "Logo width",
                  "default": 180
              },
              {
                "type":"checkbox",
                "id":"show_social_links",
                "label":"Show Social Icons"
              },
              {
                  "type": "paragraph",
                  "content": "Select Networks"
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_facebook",
                  "label": "Facebook",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_twitter",
                  "label": "Twitter",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_instagram",
                  "label": "Instagram",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_youtube",
                  "label": "YouTube",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_linkedin",
                  "label": "LinkedIn",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_pinterest",
                  "label": "Pinterest",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_tiktok",
                  "label": "Ticktok",
                  "default": true
              },
              {
                  "type": "header",
                  "content": "Column 2"
              },
              {
                  "type": "text",
                  "id": "col_2_heading",
                  "label": "Heading",
                  "default": "Footer menu"
              },
              {
                  "type": "link_list",
                  "id": "footer_linklist_col_2",
                  "label": "Select Menu"
              },
              {
                  "type": "header",
                  "content": "Column 3"
              },
              {
                  "type": "text",
                  "id": "col_3_heading",
                  "label": "Heading",
                  "default": "Footer menu"
              },
              {
                  "type": "link_list",
                  "id": "footer_linklist_col_3",
                  "label": "Select Menu"
              },
              {
                  "type": "header",
                  "content": "Column 4"
              },
              {
                  "type": "text",
                  "id": "col_4_heading",
                  "label": "Heading",
                  "default": "Footer menu"
              },
              {
                  "type": "header",
                  "content": "contact Details"
              },
              {
                  "type": "text",
                  "id": "phone_number",
                  "label": "Phone Number",
                  "default": "123-456-7890"
              },
              {
                  "type": "text",
                  "id": "store_phone",
                  "label": "Phone No 2",
                  "default": "123-456-7890"
              },
              {
                  "type": "text",
                  "id": "customer_email",
                  "label": "Customer Email",
                  "default": "Email"
              },
              {
                  "type": "text",
                  "id": "store_email",
                  "label": "Store Email Address",
                  "default": "info@hulkapps.com"
              },
              {
                "type":"header",
                "content":"Booton footer text"
              },
              {
                "type":"richtext",
                "id":"bottom_text",
                "label":"Bottom Text"
              }
          ]
      }
  {% endschema %}