   <link href="{{ 'global-collection-list.css' | asset_url  }}" rel="stylesheet">
    <section class="section-content collections-list" data-section-id="{{ section.id }}" style="background:{{ section.settings.section_bg_color }}; color:{{ section.settings.section_txt_color }}">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row" {% if template contains 'index' %}data-aos="fade-up" data-aos-duration="1000"{% endif %}>
                <div class="col-lg-6 col-md-8 text-center mx-auto heading-wrapper">
                    {% if section.settings.title != blank %}
                        <h2 class="section-title">{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.txt != blank %}
                        <p class="text-large">{{ section.settings.txt }}</p>
                    {% endif %}
                </div>
            </div>  
            <div class="row">
                {%- for block in section.blocks -%}
                    <div class="col-md-4 mb-md-0 mb-4 card-collection-wrapper" {{ block.shopify_attributes }} data-block-id="{{ block.id }}">
                        <a class="d-block bg-white h-100  card-collection text-decoration-none" {% if block.settings.collection_url != blank and block.settings.collection.all_products_count > 0 %} href="{{ block.settings.collection_url }}"{% else %} href="{{ block.settings.collection.url }}"{% endif %}>
                            <div class="card-collection-img position-relative d-block {{ section.settings.image_ratio }}">
                                {%- if block.settings.collection.image != blank -%}
                                    <img 
                                    srcset="
                                    {%- if block.settings.collection.image.width >= 360 -%}{{ block.settings.collection.image | image_url: width: 360 }} 360w,{%- endif -%}
                                    {%- if block.settings.collection.image.width >= 420 -%}{{ block.settings.collection.image | image_url: width: 420 }} 420w,{%- endif -%}
                                    {%- if block.settings.collection.image.width >= 535 -%}{{ block.settings.collection.image | image_url: width: 535 }} 535w,{%- endif -%}
                                    {{ block.settings.collection.image | image_url }} {{block.settings.collection.image.width}}w"
                                    src="{{ block.settings.collection.image | image_url: width: 50 }}"
                                    sizes="(min-width: 1450px) calc((100vw - 40px) / 4),(min-width: 768px) calc((100vw - 80px) / 3), calc((100vw - 10px) / 2)"
                                    alt="{{ block.settings.collection.image.alt | default: block.settings.title | escape }}"
                                    height="{{ block.settings.collection.image.height }}"
                                    width="{{ block.settings.collection.image.width }}"
                                    loading="lazy"
                                    class="w-100" >
                                {%- endif -%}
                            </div>
                            <div class="card-collection-body text-start w-100" style="color:{{ block.settings.section_txt_color }}">
                                <h3 class="h3 mb-0 text-capitalize">
                                    <span class="position-relative text-line-anim d-inline-block">
                                    {%- if block.settings.collection.title != blank -%}
                                        {{- block.settings.collection.title | escape -}}
                                    {%- else -%}
                                  
                                        {{ 'onboarding.collection_title' | t }}
                                    {%- endif -%}
                                    </span>
                                </h3>
                                {% if block.settings.short_description != null %}
                                <div class="short-description">{{block.settings.short_description }}</div>
                                {% endif%}
                                {% if block.settings.button_text != blank %}
                                <p class="btn-link mb-0">{{ block.settings.button_text }}</p>
                                {% endif %}
                            </div> 
                        </a>
                    </div>
                {%- endfor -%}
                {%- if section.settings.btn_txt_see_all != blank -%}
                  <div class="col-12 mt-lg-6 mt-md-5 mt-4">
                    <div class="text-center">
                      <a href="{{ section.settings.btn_txt_see_all_url }}" class="btn btn-primary" data-based-switch-url>{{ section.settings.btn_txt_see_all }}</a>
                    </div>
                  </div>
                {%- endif -%}
            </div>
        </div>
    </section>
    {% schema %}
    {
        "name": "Collection List Style 4",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Collections",
                "label": "t:sections.collection-list.settings.title.label"
            },
            {
                "type": "textarea",
                "id": "txt",
                "label": "Text",
                "default": "Awesome Heading"
            },
            {
                "type": "header",
                "content": "Style"
            },
            {
                "type": "color",
                "id": "section_bg_color",
                "label": "Background Color",
                "default": "#FAFAF7"
            },
            {
                "type": "color",
                "id": "section_txt_color",
                "label": "Text Color",
                "default": "#343a40"
            },
            {
                "type": "select",
                "id": "image_ratio",
                "options": [
                    {
                        "value": "adapt",
                        "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
                    },
                    {
                        "value": "portrait",
                        "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
                    },
                    {
                        "value": "square",
                        "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
                    },
                    {
                        "value": "landscape",
                        "label": "t:sections.collection-list.settings.image_ratio.options__4.label"
                    }
                ],
                "default": "square",
                "label": "t:sections.collection-list.settings.image_ratio.label",
                "info": "t:sections.collection-list.settings.image_ratio.info"
            },
            {
                "type": "text",
                "id": "btn_txt_see_all",
                "label": "Button Text",
                "default": "See All Categories"
            },
            {
                "type": "url",
                "id": "btn_txt_see_all_url",
                "label": "Button Link"
            }
        ],
        "blocks": [
            {
                "type": "featured_collection",
                "name": "t:sections.collection-list.blocks.featured_collection.name",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label",
                        "info": "Image Size: 680px x 400px"
                    },
                    {
                       "type": "richtext",
                        "id": "short_description",
                        "label": "Short Description",
                        "default": "<p></p>"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text"
                    },
                    {
                        "type": "color",
                        "id": "section_txt_color",
                        "label": "Text Color",
                        "default": "#151515"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Collection List Style 3",
                "blocks": [
                    {
                        "type": "featured_collection"
                    },
                    {
                        "type": "featured_collection"
                    },
                    {
                        "type": "featured_collection"
                    }
                ]
            }
        ]
    }
    {% endschema %}