  {{ 'mobile-nav-drawer.css' | asset_url | stylesheet_tag }}
  {% assign logo_svg = section.settings.logo_svg %}
  {% assign logo_image = section.settings.logo %}
  <mobile-nav tabindex="0" data-touch-moveable>
      <div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" id="mobile-menu-drawer" data-role="drawer">
          {% assign main_menu = section.settings.main_menu_linklist %}
          {% assign secondary_menu = section.settings.secondary_menu_linklist %}
          <div class="drawer-body">
          {% if main_menu %}
              <nav class="navbar-mobile navbar-mobile-slide">
                  <ul class="navbar-nav">
                      {% for link in linklists[main_menu].links %}
                          {% assign child_list_handle = link.title | handleize %}
                          {% if menus[child_list_handle].links != blank %}
                          <li class="nav-item dropdown {% if link.active %}active{% endif %} second-level">
                              <a class="nav-link submenu-toggle d-flex align-items-center {{ link.handle }}" is="drop-down" tabindex="0" data-href="{{ link.url }}" role="button" data-toggle="open" data-target="#submenu-{{ child_list_handle }}" aria-expanded="false" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                  <span class="nav-link-title font-family-heading fw-medium font-size-md">{{ link.title }}</span> 
                                  <i class="icon-arrow-right text-center"></i>
                              </a>
                              <div class="submenu dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                                  <a class="nav-link d-flex align-items-center close-submenu fw-bold text-uppercase py-3 {{ link.handle }}" tabindex="0" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                      <i class="icon-arrow-left me-2"></i><span class="menu-title">{{ link.title }}</span> 
                                  </a>
                                  {% for childlink in menus[child_list_handle].links %}
                                      {% assign subchild_list_handle = childlink.title | handleize %}
                                      {% if menus[subchild_list_handle].links != blank %}
                                          <div class="nav-item dropdown {% if forloop.first %}open{% endif %}">
                                              <a is="drop-down" class="nav-link submenu-toggle d-flex align-items-center justify-content-between {% if childlink.active %} active{% endif %} {{ childlink.handle }}" data-href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" role="button" data-toggle="open" data-target="#submenu-{{ subchild_list_handle }}" aria-expanded="false" aria-label="{{ childlink.title }}">
                                                  <span class="nav-link-title font-family-heading fw-medium font-size-md">{{ childlink.title }}</span> <i class="icon-arrow-right text-center"></i>
                                              </a>
                                              <div class="submenu dropdown-menu toggle-content" id="submenu-{{ subchild_list_handle }}" data-type="content">
                                                  <a class="nav-link d-flex align-items-center close-submenu fw-bold text-uppercase py-3 {% if childlink.active %} active{% endif %} {{ childlink.handle }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                                      <i class="icon-arrow-left me-2"></i>{{ childlink.title }}
                                                  </a>
                                                  {% for subchildlink in menus[subchild_list_handle].links %}
                                                      <div class="nav-item">
                                                          <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if subchildlink.active %} active{% endif %} {{ subchildlink.handle }}" href="{{ subchildlink.url }}" name="{{ subchildlink.title }}" title="{{ subchildlink.title }}" aria-label="{{ subchildlink.title }}">
                                                              {{ subchildlink.title }}
                                                          </a>
                                                      </div>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      {% else %}
                                          <div class="nav-item">
                                              <a is="simple-menu-item" class="nav-link d-flex align-items-center {% if childlink.active %} active{% endif %} {{ childlink.handle }}" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                                  {{ childlink.title }}
                                              </a>
                                          </div>
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </li>
                          {% else %}
                              <li class="nav-item {% if link.active %} active{% endif %}">
                                  <a class="nav-link d-flex align-items-center" href="{{ link.url }}" is="simple-menu-item" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                      {{ link.title }}
                                  </a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
              </nav>
          {% endif %}
          {% if secondary_menu %}
              <nav class="navbar-mobile navbar-mobile-secondary">
                  <ul class="navbar-nav">
                  {% for link in linklists[secondary_menu].links %}
                      {% assign child_list_handle = link.title | handleize %}
                          {% if menus[child_list_handle].links != blank %}
                              <li class="nav-item dropdown {% if link.active %}active{% endif %}">
                                  <a is="drop-down" class="nav-link submenu-toggle d-flex align-items-center justify-content-between" data-href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}" tabindex="0" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="menu">
                                      <span class="font-family-heading fw-medium font-size-md">{{ link.title }}</span> <i class="icon-arrow-right"></i>
                                  </a>
                                  <div class="submenu dropdown-menu toggle-content" id="submenu-{{ child_list_handle }}" data-type="content">
                                      {% for childlink in menus[child_list_handle].links %}
                                          <a class="nav-link d-flex align-items-center font-family-heading fw-medium font-size-md {% if childlink.active %} active{% endif %}" is="simple-menu-item" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">
                                              {{ childlink.title }}
                                          </a>
                                      {% endfor %}
                                  </div>
                              </li>
                          {% else %}
                          <li class="nav-item {% if link.active %} active{% endif %}">
                              <a is="simple-menu-item" class="nav-link d-flex align-items-center font-family-heading fw-medium font-size-md" href="{{ link.url }}" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                  {{ link.title }}
                              </a>
                          </li>
                      {% endif %}
                  {% endfor %}
                  </ul>
                   {% render 'social-media-links' %}
              </nav>
          {% endif %}
          </div>
      </div>
  </mobile-nav>
  {% schema %}
      {
          "name": "Mobile Drawer",
          "settings": [
              {
                  "type": "link_list",
                  "id": "main_menu_linklist",
                  "label": "Select Main Menu",
                  "default": "main-menu"
              },
              {
                  "type": "link_list",
                  "id": "secondary_menu_linklist",
                  "label": "Select Secondary Menu"
              },
              {
                  "type": "paragraph",
                  "content": "Select Networks"
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_facebook",
                  "label": "Facebook",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_twitter",
                  "label": "Twitter",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_instagram",
                  "label": "Instagram",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_youtube",
                  "label": "YouTube",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_linkedin",
                  "label": "LinkedIn",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_pinterest",
                  "label": "Pinterest",
                  "default": true
              },
              {
                  "type": "checkbox",
                  "id": "social_icon_tiktok",
                  "label": "Ticktok",
                  "default": true
              }
          ]
      }
  {% endschema %}