<style>
    .row-cols-7>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 12.5%;
    }

    kbd{
        background-color: #f1f1f1;
        color: #000;
        padding: 3px 10px;
    }

</style>
<div class="section-content">
    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Primary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary-100 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-md text-uppercase fw-bold mb-1">Red</p>
                        <p class="font-size-md mb-0 text-black">{{ settings.color_primary_1 }}</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary-200  py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-md text-uppercase fw-bold mb-1">Yellow</p>
                        <p class="font-size-md mb-0 text-black">{{ settings.color_primary_2 }}</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-primary-300 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-md text-uppercase fw-bold mb-1">Black</p>
                        <p class="font-size-md mb-0 text-black">{{ settings.color_primary_3 }}</p>    
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="shadow">
                    <div class="bg-primary-400 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-md text-uppercase fw-bold mb-1">Gray</p>
                        <p class="font-size-md mb-0 text-black">{{ settings.color_primary_4 }}</p>    
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="shadow">
                    <div class="bg-primary-500 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-md text-uppercase fw-bold mb-1">White</p>
                        <p class="font-size-md mb-0 text-black">{{ settings.color_primary_5 }}</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Color Tints</p>
        <div class="row">

            <div class="col-3">
                <div class="bg-black py-1 px-3 text-white text-end text-uppercase">
                    {{ settings.color_black }}
                </div>

                <div class="bg-gray-900 py-1 px-3 text-white text-end text-uppercase">
                    {{ settings.color_gray_900 }}
                </div>

                <div class="bg-gray-800 py-1 px-3 text-white text-end text-uppercase">
                    {{ settings.color_gray_800 }}
                </div>

                <div class="bg-gray-700 py-1 px-3 text-white text-end text-uppercase">
                    {{ settings.color_gray_700 }}
                </div>

                <div class="bg-gray-600 py-1 px-3 text-white text-end text-uppercase">
                    {{ settings.color_gray_600 }}
                </div>
            </div>

            <div class="col-3">
                <div class="bg-gray-500 py-1 px-3 text-black text-end text-uppercase">
                    {{ settings.color_gray_500 }}
                </div>

                <div class="bg-gray-300 py-1 px-3 text-black text-end text-uppercase">
                    {{ settings.color_gray_400 }}
                </div>

                <div class="bg-gray-300 py-1 px-3 text-black text-end text-uppercase">
                    {{ settings.color_gray_300 }}
                </div>

                <div class="bg-gray-200 py-1 px-3 text-black text-end text-uppercase">
                    {{ settings.color_gray_200 }}
                </div>

                <div class="bg-gray-100 py-1 px-3 text-black text-end text-uppercase">
                    {{ settings.color_gray_100 }}
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Secondary Color Palette</p>
        <div class="row row-cols-7">
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-100 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">ORANGE</p>
                        <p class="font-size-xs mb-0 text-gray-500">#F99D25</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-200 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">DARK RED</p>
                        <p class="font-size-xs mb-0 text-gray-500">#BA122B</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-300 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">RED</p>
                        <p class="font-size-xs mb-0 text-gray-500">#0085CA</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-400 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">PURPLE</p>
                        <p class="font-size-xs mb-0 text-gray-500">#663399</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-500 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">GREEN</p>
                        <p class="font-size-xs mb-0 text-gray-500">#4A7729</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-600 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">TAN</p>
                        <p class="font-size-xs mb-0 text-gray-500">#DDCBA4</p>    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="bg-secondary-700 py-9">

                    </div>
                    <div class="py-3 px-2 ">
                        <p class="font-size-xs text-uppercase fw-bold mb-1">BROWN</p>
                        <p class="font-size-xs mb-0 text-gray-500">#784D28</p>    
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 border-top d-block"></div>
    </div>    

    <div class="container mb-10">
        <p class="mb-3 text-gray-400">Typography</p>
        <div class="row">
            <div class="col-3">
                <div class="card p-4 shadow border-0">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-family-heading">Aa</h1>
                            <h6 class="font-family-heading">{{ settings.type_header_font }}</h6>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled m-0 font-family-heading">
                                <li class="fw-light">Light</li>
                                <li class="fw-regular">Regular</li>
                                <li class="fw-medium">Medium</li>
                                <li class="fw-semibold">Semi Bold</li>
                                <li class="fw-bold">Bold</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card shadow p-4 border-0">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-family-base">Aa</h1>
                            <h6 class="font-family-base">{{ settings.type_body_font }}</h6>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled m-0 font-family-base">
                                <li class="fw-light">Light</li>
                                <li class="fw-regular">Regular</li>
                                <li class="fw-medium">Medium</li>
                                <li class="fw-semibold">Semi Bold</li>
                                <li class="fw-bold">Bold</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="container mb-10">
        <div class="row mb-7">
            <div class="col-12">
                <h6>H1</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h1_font_size }}</div>
                    <div>Line Height: {{ settings.h1_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
         <div class="row mb-7">
            <div class="col-12">
                <h6>H1 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h1_font_size_sm }}</div>
                    <div>Line Height: {{ settings.h1_line_height_sm }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H2</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h2_font_size }}</div>
                    <div>Line Height: {{ settings.h2_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h2>The quick brown fox jumps over the lazy dog.</h2>
            </div>
        </div>
          <div class="row mb-7">
            <div class="col-12">
                <h6>H2 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h2_font_size_sm }}</div>
                    <div>Line Height: {{ settings.h2_line_height_sm }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H3</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h3_font_size }}</div>
                    <div>Line Height: {{ settings.h3_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h3>The quick brown fox jumps over the lazy dog.</h3>
            </div>
        </div>
       <div class="row mb-7">
            <div class="col-12">
                <h6>H3 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }}</div>
                    <div>Font Size: {{ settings.h3_font_size_sm }}</div>
                    <div>Line Height: {{ settings.h3_line_height_sm }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H4</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }} Italic</div>
                    <div>Font Size: {{ settings.h4_font_size }}</div>
                    <div>Line Height: {{ settings.h4_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h4 class="font-italic">The quick brown fox jumps over the lazy dog.</h4>
            </div>
        </div>
          <div class="row mb-7">
            <div class="col-12">
                <h6>H4 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">SemiBold</div>
                    <div>Font Size: {{ settings.h4_font_size_sm }}</div>
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H5</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }} Italic</div>
                    <div>Font Size: {{ settings.h5_font_size }}</div>
                    <div>Line Height: {{ settings.h5_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h5 class="font-italic">The quick brown fox jumps over the lazy dog.</h5>
            </div>
        </div>
       <div class="row mb-7">
            <div class="col-12">
                <h6>H5 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">SemiBold</div>
                    <div>Font Size: {{ settings.h5_font_size_sm }}</div>
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6>H6</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">{{ settings.type_header_font_weight }} Italic</div>
                    <div>Font Size: {{ settings.h6_font_size }}</div>
                    <div>Line Height: {{ settings.h1_line_height }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h6 class="font-italic">The quick brown fox jumps over the lazy dog.</h6>
            </div>
        </div>
           <div class="row mb-7">
            <div class="col-12">
                <h6>H6 Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-500 font-size-md font-family-heading">
                    <div>{{ settings.type_header_font }}</div>
                    <div class="mb-3">SemiBold</div>
                    <div>Font Size: {{ settings.h6_font_size_sm }}</div>
                    <div>Line Height: {{ settings.h6_line_height_sm }}</div> 
                    <div>Font Color: {{ settings.heading_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <h1>The quick brown fox jumps over the lazy dog.</h1>
            </div>
        </div>
        <div class="row mb-10">
            <div class="col-12">
                <h6 class="font-family-base">Paragraph Large</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div class="mb-3">{{ settings.style_body_font }}</div>
                    <div>Font Weight: {{ settings.type_body_font_weight }}</div>
                    <div>Font Size: 19px</div>
                    <div>Line Height: 1.47</div> 
                    <div>Font Color: {{ settings.body_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <p class="text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div>  
         <div class="row mb-10">
            <div class="col-12">
                <h6 class="font-family-base">Paragraph - Large Mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div class="mb-3">{{ settings.style_body_font }}</div>
                    <div>Font Weight: {{ settings.type_body_font_weight }}</div>
                    <div>Font Size: 17px</div>
                    <div>Line Height: 1.53</div> 
                    <div>Font Color: {{ settings.body_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <p class="text-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div> 
        <div class="row mb-10">
            <div class="col-12">
                <h6 class="font-family-base">Paragraph</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div>{{ settings.type_body_font }}</div>
                    <div class="mb-3">{{ settings.style_body_font }}</div>
                    <div>Font Weight: {{ settings.type_body_font_weight }}</div>
                    <div>Font Size: {{ settings.type_body_font_size }}</div>
                    <div>Line Height: {{ settings.type_body_line_height }}</div> 
                    <div>Font Color: {{ settings.body_color }}</div>
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div>  
        <div class="row mb-10">
            <div class="col-12">
                <h6 class="font-family-base">Paragraph mobile</h6>
            </div>
            <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div>Font Size: 15px</div>
                    <div>Line Height: 1.6</div> 
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
            </div>
        </div>    
         <div class="row mb-10">
           <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div class="mb-3">{{ settings.type_body_font }}</div>
                    <div>link: #EA002A</div>
                    <div>Hover: #EA002A / underline</div> 
                </div>
            </div>
             <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                    <div class="mb-3">Paragraph Texr Link </div>
                    <a href="">manju@praella.com</a>
                </div>
            </div>
             <div class="col-4">
                <div class="text-gray-400 font-size-md font-family-base">
                   <div class="mb-3">Paragraph Texr Link Hover</div>
                   <a href="" class="text-decoration-underline">manju@praella.com</a>
                </div>
            </div>
         </div>
        
        <div class=" border-top d-block"></div>  
    </div>

    <div class="container mb-10">
        <div class="row mb-10">
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Normal Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary</kbd></p>
                        <button href="" class="btn btn-primary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary</kbd></p>
                        <button href="" class="btn btn-secondary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark</kbd></p>
                        <button href="" class="btn btn-dark">Shop Now</button>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white</kbd></p>
                            <button href="" class="btn btn-white">Shop Now</button>
                        </span>
                    </li>
                </ul>

                <ul class="list-unstyled">
                    <li class="fw-bold mb-2">Noraml Button</li>
                    <li>Font: {{ settings.type_button_font }}</li>
                    <li>Font Weight: {{ settings.type_button_font_weight }}</li>
                    <li>Font Size: {{ settings.button_font_size }}</li>
                    <li>Letter Spacing: {{ settings.button_letter_spacing }}</li>
                    <li>Line Height: {{ settings.button_line-height }}</li>
                    <li>Padding Left & Right: {{ settings.button_x_padding }}</li>
                    <li>Padding Top Bottom: {{ settings.button_y_padding }}</li>
                    <li>Button Border-radius: {{ settings.button_border-radius }}</li>
                </ul>

            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Large Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary btn-lg</kbd></p>
                        <button href="" class="btn btn-lg btn-primary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-lg</kbd></p>
                        <button href="" class="btn btn-lg btn-secondary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-lg</kbd></p>
                        <button href="" class="btn btn-lg btn-dark">Shop Now</button>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white btn-lg</kbd></p>
                            <button href="" class="btn btn-lg btn-white">Shop Now</button>
                        </span>
                    </li>
                    
                </ul>
                <ul class="list-unstyled">
                    <li class="fw-bold mb-2">Large Button</li>
                    <li>Font Size: {{ settings.button_font_size_lg }}</li>
                    <li>Padding Left & Right: {{ settings.button_x_padding_lg }}</li>
                    <li>Padding Top Bottom: {{ settings.button_y_padding_lg }}</li>
                </ul>
            </div>
            <div class="col-4">
                <h6 class="text-uppercase mb-3">Small Button</h6>
                <ul class="list-group list-unstyled">
                    <li class="mb-3">
                        <p><kbd>btn btn-primary btn-sm</kbd></p>
                        <button href="" class="btn btn-sm btn-primary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-secondary btn-sm</kbd></p>
                        <button href="" class="btn btn-sm btn-secondary">Shop Now</button>
                    </li>
                    <li class="mb-3">
                        <p><kbd>btn btn-dark btn-sm</kbd></p>
                        <button href="" class="btn btn-sm btn-dark">Shop Now</button>
                    </li>
                    <li class="">
                        <span class="p-5 bg-primary-400 d-inline-block">
                            <p><kbd>btn btn-white btn-sm</kbd></p>
                            <button href="" class="btn btn-sm btn-white">Shop Now</button>
                        </span>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="fw-bold mb-2">Small Button</li>
                    <li>Font Size: {{ settings.button_font_size_sm }}</li>
                    <li>Padding Left & Right: {{ settings.button_x_padding_sm }}</li>
                    <li>Padding Top Bottom: {{ settings.button_y_padding_sm }}</li>
                </ul>
            </div>
        </div>

        <div class="col-12 pb-10">
            <p><kbd>btn-link</kbd></p>
            <a href="" class="btn-link text-decoration-none">Shop all best sellers</a>
        </div>

        <div class=" border-top d-block"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3 fw-bold">Floating Form</h6>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3 fw-bold">Noraml Form Fiels Inactive</h6>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3 fw-bold">Newsletter</h6>
                <div class="input-group">
                    <input type="email" class="form-control border-end-0" id="exampleFormControlInput1" placeholder="name@example.com">
                    <button type="submit" name="btnSubmit" aria-label="submit" class="btn btn-primary">
                        <span>sign up</span>
                    </button>     
                </div>
            </div>
        </div>
        
    </div>
</div>



{% schema %}
{
  "name": "image banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
        "type": "image_picker",
        "id": "image2",
        "label": "t:sections.image-banner.settings.image.label"
    }
  ]
}
{% endschema %}